/* Color Variables */
$primary-color-1: #1E2B63;
$primary-color-2: #0D1A52;
$primary-color-3: #111111;

$secondary-color-1: #3F8DCB;
$secondary-color-2: #3583C1;
$secondary-color-3: #216FAD;

$white-color-1: #FFFFFF;
$white-color-2: #F1F5FB;
$white-color-3: #DBEAF9;

/* Text Colors */
$text-color-1: #F5F5F5;
