.smwContactDetails{
    border-radius: 96px;
    background-color: $secondary-color-1;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}